<html>

<HEAD>
    <TITLE>Evento ocurrido en la Aplicaci&oacute;n</TITLE>
    <LINK REL="stylesheet" type="text/css" href="../megasoft.css" />
     <LINK REL="stylesheet" type="text/css" href="../css/HojadeEstilo.css" />
</HEAD>

<script type="text/javascript">
function regresar(){
	
	//si la ventana fue abierta como un popup: cerrar
	if(window.opener!=null){
		window.close();
	}else{//sino regresar al formulario anterior
		window.history.back();
	}
}
</script>
<body>

<center>

<TABLE WIDTH="70%">
<TR>

<TD WIDTH="90%" VALIGN="TOP" ALIGN='center' VALIGN='TOP'>
<h2 style="color:red">
<IMG SRC="../images/infi_gn_warning.gif" width="20" />
   Evento ocurrido en la Aplicaci&oacute;n
</h2>
</TD>

</TR>

</TABLE>

<table border="0" width="90%">
<TR><TD BGCOLOR="gray">
    <table border="0" width="100%" CELLSPACING="2" CELLPADDING="5" >

        <tr>
    		<td width="20%" BGCOLOR="#D6D6D6" VALIGN="top">
                <font color="#535353"><b>Error</b></font>
            </td>
    		<td width="80%" BGCOLOR="white">
                @errormsg@
            </td>
    	</tr>

        <tr>
    		<td  BGCOLOR="#D6D6D6" VALIGN="top">
                <font color="#535353"><b>Date</b></font>
            </td>
    		<td  BGCOLOR="white">
                @datetime@
            </td>
    	</tr>

        <tr>
    		<td  BGCOLOR="#D6D6D6" >
               <font color="#535353"><b>URI</b></font>
            </td>
    		<td  BGCOLOR="white">
                @uri@
            </td>
    	</tr>

        <tr>
    		<td  BGCOLOR="#0080C0" VALIGN="top">
                <font color="white"><b>Stack Trace</b></font>
            </td>
    		<td  BGCOLOR="white">
                @stacktrace@
            </td>
    	</tr>

        <tr>
    		<td  BGCOLOR="#0070a0">
                <font color="white"><b>Servlet</b></font>
            </td>
    		<td  BGCOLOR="white">
                @servletname@
            </td>
    	</tr>
        
        <tr>
    		<td  BGCOLOR="#0070a0" >
                <font color="white"><b>User ID</b></font>
            </td>
    		<td  BGCOLOR="white">
                @userid@
            </td>
    	</tr>

        <tr>
    		<td  BGCOLOR="#0070a0" >
                <font color="white"><b>Remote Address</b></font>
            </td>
    		<td  BGCOLOR="white">
                @remoteaddr@
            </td>
    	</tr>

        <tr>
        <td  BGCOLOR="#0070a0" >
                <font color="white"><b>Debug</b></font>
            </td>
        <td  BGCOLOR="white">
                <a href="../foundation_debug">Prints</a>
            </td>
      </tr>

    </table>
</TD></TR>
</table>


    <HR>
    <H3>
    Por favor imprima esta p&aacute;gina<br>
    y entr&eacute;guela al encargado de soporte
    </H3>
    <br>
    
    <FORM>
    <button type="button" onclick="regresar();">Regresar</button>
    </FORM>



</center>
</body>
</html>