<HTML>
    
    <HEAD>
    
        <LINK REL="stylesheet" type="text/css" href="megasoft.css" />
        
        <!--cambiar: nombre de la aplicacion-->
        <TITLE>Application Name</TITLE>
        
    </HEAD>
    
    <!--poner el focus en el 1er control de la forma-->
    <BODY>
        

	<!--page name bar-->
	<TABLE WIDTH="100%">
	    <TR>
	        <TD class="headerBox">                
	            <FONT class="headerText">Menu Principal - Usuario: @user@</FONT>
	        </TD>
	    </TR>
	</TABLE>
        
        <!--centrar la forma-->
        <CENTER>

        <BR>
        <P>Bienvenido al Sistema!<BR>
        Por favor haga CLICK sobre alguna opci&oacute;n.</P>
        <BR>
        
        
            <!--tabla con los iconos del menu principal-->
            <TABLE WIDTH="70%" class="datatable" CELLSPACING="3">
                <COL WIDTH="25%">
                <COL WIDTH="25%">
                <COL WIDTH="25%">
                <COL WIDTH="25%">
                <TR>
                    <TD ALIGN="center">
                    <A HREF="ssUser_find">
                        Usuarios
                    </A>
                    </TD>
                    <TD ALIGN="center">
                    <A HREF="ssUser_newpassword">
                        Cambio de Contraseña
                    </A>
                    </TD>
                    <TD ALIGN="center">
                    <A HREF="ssUser_sessions">
                        Sesiones Activas
                    </A>
                    </TD>
                    <TD ALIGN="center">
                    <A HREF="message_find">
                        Forum de Discusi&oacute;n
                    </A>
                    </TD>
                </TR>
            </TABLE>
            
            <BR><BR>
            <A HREF="logout">Salir del Sistema</A> 
            
        </CENTER>
        
    </BODY>

</HTML>

