<html>

<HEAD>
    <LINK REL="stylesheet" type="text/css" href="../megasoft.css" />
     <LINK REL="stylesheet" type="text/css" href="../css/HojadeEstilo.css" />
</HEAD>

<body ONLOAD="document.forms[0].elements[0].focus();">
<center>

<!--
<IMG src="../images/warning.gif">
-->

<h5 style="color:red">
Datos no encontrados.
</h5>

<table border="0" width="70%">
<TR><TD BGCOLOR="gray">
    <table border="0" width="100%" CELLSPACING="1">
    	<rows>
        <tr>
    		<td width="50%" BGCOLOR="#D6D6D6" >
                <font color="#535353"> <b>Para su informaci&oacute;n</b></font>
            </td>
    		<td width="50%" BGCOLOR="white">
                No existe la informaci&oacute;n que Ud. solicit&oacute;.
            </td>
    	</tr>
        </rows>
    </table>
</TD></TR>
</table>

<br>


<FORM>
<button type="button" onclick="javascript:history.back();">Regresar</button>
</FORM>

</center>
</body>
</html>

