<?xml version="1.0" encoding="ISO-8859-1"?>

<config>

	<model-class>models.oficina_comercial.OficinaAddNew</model-class>
	<view-class>megasoft.GenericView</view-class>
	<template>table.htm</template>
	<record-def></record-def>
	<content-type>text/html</content-type>
	<expires></expires>
	<no-cache></no-cache>
	<next-action type="redirect"></next-action>
	<on-empty source="sales"></on-empty>
	
	<bind type="repeat" source="estados" tag="estados"/> 
 	<bind type="replace" source="datos"/>  
	
</config>
