<?xml version="1.0" encoding="ISO-8859-1"?>

<config>

	<model-class>models.bcv.menudeo_envio.Edit</model-class>
	<view-class>megasoft.GenericView</view-class>
	<template>form.htm</template>
	<record-def></record-def>
	<content-type>text/html</content-type>
	<expires></expires>
	<cache>true</cache>
	<next-action type="redirect"></next-action>
	<on-empty source="sales"></on-empty>

	<bind type="replace" source="table"/>
		
</config>
