<?xml version="1.0" encoding="ISO-8859-1"?>

<config>

	<model-class>models.oficina_comercial.OficinaConfirmInsert</model-class>
	<view-class>megasoft.GenericView</view-class>
	<template>confirm.htm</template>
	<record-def></record-def>
	<content-type>text/html</content-type>
	<expires></expires>
	<no-cache>false</no-cache>
	<next-action type="redirect"></next-action>
	<on-empty source=""></on-empty>

	<bind type="replace" source="request"/>
		
</config>
